:root {
    --bg-color: #e8e8ea;
    --bg-inverse: #090949;
    --primary-color: #1147ff;
    --secondary-color: #0449e0;
    --inverse-primary-color :#049604;
    --inverse-secondary-color: #04ff04;
}
